node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.dev
.env.prod
Dockerfile
docker-compose.yml
docker-compose.dev.yml
docker-compose.prod.yml
.dockerignore
SETUP.md
scripts
mongo-init
nginx
env.dev.example
env.prod.example
