@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #13161A;
  --bg-primary-light: #DBE9D1;
  --color-content-disabled: #9FA8B4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-content);
  --font-content: var(--font-content);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-content), Helvetica, sans-serif;
  /* Arial, 'Courier New', Georgia, Tahoma, 'Times New Roman', Verdana, sans-serif */
}

/* color */




/* typography */

.font-content {
  font-family: var(--font-content);
}

.txt-sub-title {
  color: var(--text-primary);
  font-feature-settings: 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv10' on;
  /* text-body/semibold */
  /* font-family: "Shantell Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 22.4px */
  letter-spacing: -0.32px;
}

.txt-content {
  color: var(--text-primary);
  font-feature-settings: 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on, 'cv10' on;
  /* text-body/semibold */
  /* font-family: "Shantell Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 22.4px */
  letter-spacing: -0.32px;
}

/* box */

.light-box {
  background-color: var(--bg-primary-light);
}
/* btn */
.btn-primary {
  background-image: url('/imgs/bare/button.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

.btn-primary-disable {
  background-image: url('/imgs/bare/button_disable.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--color-content-disabled);
}

/* items */


.item-border {
  border: 6px solid transparent;
  border-image: url('/imgs/bare/item_border.svg') 6 stretch;
}

.item-border-active {
  border: 6px solid transparent;
  border-image: url('/imgs/bare/item_border_active.svg') 6 stretch;
}